data/redis-cluster-data-0/**
data/redis-cluster-data-1/**
data/redis-cluster-data-2/**
data/redis-cluster-data-3/**
data/redis-cluster-data-4/**
data/redis-cluster-data-5/**
data/redis-sentinel-data-master/**
data/redis-sentinel-data-slave/**
data/redis-sentinel-data-sentinel/**
data/redis-data/**

!.env
